[build]
builder = "nixpacks"
buildCommand = "npm install && npm run build"

[deploy]
startCommand = "npx prisma db push --skip-generate --accept-data-loss && npx prisma db seed && npm run start"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 3
healthcheckPath = "/health"
healthcheckTimeout = 60

[env]
NODE_ENV = "production"
